html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

#container {
  display: flex;
  align-items: center;
  height: 100%;
}

#root {
  border: solid 2px black;
  border-radius: 10px;
  width: 80%;
  height: 90%;
  overflow: hidden;
}

#user-money,
#current-balance {
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#user-money {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 500px) {
  #container {
    flex-direction: column;
  }
}
